<a href="https://colab.research.google.com/github/Mintu-Vipin/Semester3/blob/master/Mintu_NN_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Group3 Project â€“ Developing Full-Stack Intelligent Apps

In [4]:
# Import packages

import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [5]:
# Load Data

group3_hype = pd.read_excel(open('HYPE Dataset for Group Project.xlsx', 'rb'),
              sheet_name='HYPE-Retention')

In [6]:
# Data information

group3_hype.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 39 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INTAKE TERM CODE               668 non-null    int64
 1   ADMIT TERM CODE                667 non-null    float64
 2   ID 2                           668 non-null    int64
 3   RECORD COUNT                   668 non-null    int64
 4   INTAKE COLLEGE EXPERIENCE      668 non-null    object
 5   PRIMARY PROGRAM CODE           668 non-null    int64
 6   SCHOOL CODE                    668 non-null    object
 7   PROGRAM LONG NAME              668 non-null    object
 8   PROGRAM SEMESTERS              668 non-null    int64
 9   TOTAL PROGRAM SEMESTERS        668 non-null    int64
 10  STUDENT LEVEL NAME             668 non-null    object
 11  STUDENT TYPE NAME              668 non-null    object
 12  STUDENT TYPE GROUP NAME        668 non-null    object
 13  TIME STATUS NAME               668 non-null    object
 14  RESIDENCY STATUS NAME          668 non-null    object
 15  FUNDING SOURCE NAME            668 non-null    object
 16  MAILING CITY NAME              665 non-null    object
 17  MAILING POSTAL CODE GROUP 3    663 non-null    object
 18  MAILING POSTAL CODE            663 non-null    object
 19  MAILING PROVINCE NAME          664 non-null    object
 20  GENDER                         668 non-null    object
 21  DISABILITY IND                 668 non-null    object
 22  MAILING COUNTRY NAME           664 non-null    object
 23  CURRENT STAY STATUS            668 non-null    object
 24  FUTURE TERM ENROL              668 non-null    object
 25  ACADEMIC PERFORMANCE           668 non-null    object
 26  EXPECTED GRAD TERM CODE        668 non-null    int64
 27  SUCCESS LEVEL                  668 non-null    object
 28  FIRST YEAR PERSISTENCE COUNT   668 non-null    int64
 29  HS AVERAGE GRADE               220 non-null    object
 30  HS AVERAGE MARKS               220 non-null    float64
 31  ENGLISH TEST SCORE             642 non-null    float64
 32  AGE GROUP LONG NAME            665 non-null    object
 33  FIRST GENERATION IND           284 non-null    object
 34  APPL FIRST LANGUAGE DESC       665 non-null    object
 35  APPL EDUC INST TYPE NAME       296 non-null    object
 36  APPLICANT CATEGORY NAME        665 non-null    object
 37  APPLICANT TARGET SEGMENT NAME  668 non-null    object
 38  PREV EDU CRED LEVEL NAME       665 non-null    object
dtypes: float64(3), int64(8), object(28)
memory usage: 203.7+ KB

In [7]:
# Print Unique Column Values in each columns

print("Unique Column Values in each columns:")
for i in group3_hype.columns.to_list():
  print(i ,"=", len(group3_hype[i].unique()))

Unique Column Values in each columns:
INTAKE TERM CODE = 40
ADMIT TERM CODE = 40
ID 2 = 464
RECORD COUNT = 1
INTAKE COLLEGE EXPERIENCE = 6
PRIMARY PROGRAM CODE = 143
SCHOOL CODE = 7
PROGRAM LONG NAME = 127
PROGRAM SEMESTERS = 6
TOTAL PROGRAM SEMESTERS = 7
STUDENT LEVEL NAME = 2
STUDENT TYPE NAME = 1
STUDENT TYPE GROUP NAME = 1
TIME STATUS NAME = 2
RESIDENCY STATUS NAME = 2
FUNDING SOURCE NAME = 5
MAILING CITY NAME = 40
MAILING POSTAL CODE GROUP 3 = 92
MAILING POSTAL CODE = 405
MAILING PROVINCE NAME = 5
GENDER = 3
DISABILITY IND = 2
MAILING COUNTRY NAME = 5
CURRENT STAY STATUS = 16
FUTURE TERM ENROL = 126
ACADEMIC PERFORMANCE = 4
EXPECTED GRAD TERM CODE = 42
SUCCESS LEVEL = 3
FIRST YEAR PERSISTENCE COUNT = 2
HS AVERAGE GRADE = 10
HS AVERAGE MARKS = 64
ENGLISH TEST SCORE = 9
AGE GROUP LONG NAME = 9
FIRST GENERATION IND = 3
APPL FIRST LANGUAGE DESC = 4
APPL EDUC INST TYPE NAME = 2
APPLICANT CATEGORY NAME = 6
APPLICANT TARGET SEGMENT NAME = 4
PREV EDU CRED LEVEL NAME = 4

In [8]:
# Print comun names

group3_hype.columns

Index(['INTAKE TERM CODE', 'ADMIT TERM CODE', 'ID 2', 'RECORD COUNT',
       'INTAKE COLLEGE EXPERIENCE', 'PRIMARY PROGRAM CODE', 'SCHOOL CODE',
       'PROGRAM LONG NAME', 'PROGRAM SEMESTERS', 'TOTAL PROGRAM SEMESTERS',
       'STUDENT LEVEL NAME', 'STUDENT TYPE NAME', 'STUDENT TYPE GROUP NAME',
       'TIME STATUS NAME', 'RESIDENCY STATUS NAME', 'FUNDING SOURCE NAME',
       'MAILING CITY NAME', 'MAILING POSTAL CODE GROUP 3',
       'MAILING POSTAL CODE', 'MAILING PROVINCE NAME', 'GENDER',
       'DISABILITY IND', 'MAILING COUNTRY NAME', 'CURRENT STAY STATUS',
       'FUTURE TERM ENROL', 'ACADEMIC PERFORMANCE', 'EXPECTED GRAD TERM CODE',
       'SUCCESS LEVEL', 'FIRST YEAR PERSISTENCE COUNT', 'HS AVERAGE GRADE',
       'HS AVERAGE MARKS', 'ENGLISH TEST SCORE', 'AGE GROUP LONG NAME',
       'FIRST GENERATION IND', 'APPL FIRST LANGUAGE DESC',
       'APPL EDUC INST TYPE NAME', 'APPLICANT CATEGORY NAME',
       'APPLICANT TARGET SEGMENT NAME', 'PREV EDU CRED LEVEL NAME'],
      dtype='object')

In [9]:
# Shape of the dataset

group3_hype.shape

(668, 39)

In [10]:
# Drop the columns 

group3_hype = group3_hype.drop(['INTAKE TERM CODE', 'ADMIT TERM CODE', 'ID 2','RECORD COUNT','PROGRAM LONG NAME','STUDENT LEVEL NAME',
                                'STUDENT TYPE NAME', 'STUDENT TYPE GROUP NAME',
       'TIME STATUS NAME', 'RESIDENCY STATUS NAME', 'FUNDING SOURCE NAME',
       'MAILING CITY NAME','MAILING POSTAL CODE', 'MAILING PROVINCE NAME','MAILING COUNTRY NAME','FUTURE TERM ENROL','EXPECTED GRAD TERM CODE',
       'HS AVERAGE GRADE','HS AVERAGE MARKS','FIRST GENERATION IND', 'APPL FIRST LANGUAGE DESC',
                        'APPL EDUC INST TYPE NAME', 'APPLICANT TARGET SEGMENT NAME', 'PREV EDU CRED LEVEL NAME'],axis=1)

In [11]:
# Shape of the dataset after dropping the columns

group3_hype.shape

(668, 15)

In [12]:
#target column

group3_hype['SUCCESS LEVEL'].value_counts()

Unsuccessful    276
Successful      251
In Progress     141
Name: SUCCESS LEVEL, dtype: int64

In [13]:
#dropping the rows with In Progress values

group3_hype = group3_hype[group3_hype['SUCCESS LEVEL'].str.contains("In Progress")==False]

In [14]:
#target column after dropping the rows

group3_hype['SUCCESS LEVEL'].value_counts()

Unsuccessful    276
Successful      251
Name: SUCCESS LEVEL, dtype: int64

In [15]:
# Data information

group3_hype.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 527 entries, 0 to 642
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   INTAKE COLLEGE EXPERIENCE     527 non-null    object
 1   PRIMARY PROGRAM CODE          527 non-null    int64
 2   SCHOOL CODE                   527 non-null    object
 3   PROGRAM SEMESTERS             527 non-null    int64
 4   TOTAL PROGRAM SEMESTERS       527 non-null    int64
 5   MAILING POSTAL CODE GROUP 3   526 non-null    object
 6   GENDER                        527 non-null    object
 7   DISABILITY IND                527 non-null    object
 8   CURRENT STAY STATUS           527 non-null    object
 9   ACADEMIC PERFORMANCE          527 non-null    object
 10  SUCCESS LEVEL                 527 non-null    object
 11  FIRST YEAR PERSISTENCE COUNT  527 non-null    int64
 12  ENGLISH TEST SCORE            511 non-null    float64
 13  AGE GROUP LONG NAME           524 non-null    object
 14  APPLICANT CATEGORY NAME       524 non-null    object
dtypes: float64(1), int64(4), object(10)
memory usage: 65.9+ KB

In [16]:
# Dropping records with null value

group3_hype = group3_hype.dropna()

In [17]:
# Shape of the dataset after dropping the records with null values

group3_hype.shape

(507, 15)

In [18]:
#counting null values

group3_hype.isnull().sum()

INTAKE COLLEGE EXPERIENCE       0
PRIMARY PROGRAM CODE            0
SCHOOL CODE                     0
PROGRAM SEMESTERS               0
TOTAL PROGRAM SEMESTERS         0
MAILING POSTAL CODE GROUP 3     0
GENDER                          0
DISABILITY IND                  0
CURRENT STAY STATUS             0
ACADEMIC PERFORMANCE            0
SUCCESS LEVEL                   0
FIRST YEAR PERSISTENCE COUNT    0
ENGLISH TEST SCORE              0
AGE GROUP LONG NAME             0
APPLICANT CATEGORY NAME         0
dtype: int64

In [19]:
#categorical data

categorical_cols = ['INTAKE COLLEGE EXPERIENCE','PRIMARY PROGRAM CODE','SCHOOL CODE','MAILING POSTAL CODE GROUP 3','GENDER','DISABILITY IND','CURRENT STAY STATUS',
                    'APPLICANT CATEGORY NAME'] 

group3_hype = pd.get_dummies(group3_hype, columns = categorical_cols)

In [20]:
# print dataset

group3_hype.head(10)

   PROGRAM SEMESTERS  ...  APPLICANT CATEGORY NAME_Mature: Domestic 19 or older No Academic History
0                  2  ...                                                  0
1                  4  ...                                                  0
2                  6  ...                                                  1
3                  6  ...                                                  1
4                  2  ...                                                  1
5                  2  ...                                                  0
6                  4  ...                                                  0
7                  2  ...                                                  0
8                  2  ...                                                  1
9                  1  ...                                                  1

[10 rows x 229 columns]

In [21]:
# Converted all rest columns using Label encoder.

group3_hype['AGE GROUP LONG NAME'] = group3_hype['AGE GROUP LONG NAME'].apply(lambda x: ['0 to 18', '19 to 20','21 to 25', '26 to 30','31 to 35', '36 to 40', '41 to 50'].index(x))
group3_hype['SUCCESS LEVEL'] = group3_hype['SUCCESS LEVEL'].apply(lambda x: ['Unsuccessful', 'Successful'].index(x))
group3_hype['ACADEMIC PERFORMANCE'] = group3_hype['ACADEMIC PERFORMANCE'].apply(lambda x: ['ZZ - Unknown','DF - Poor','C - Satisfactory','AB - Good'].index(x))

In [22]:
# print dataset

group3_hype.head(5)

   PROGRAM SEMESTERS  ...  APPLICANT CATEGORY NAME_Mature: Domestic 19 or older No Academic History
0                  2  ...                                                  0
1                  4  ...                                                  0
2                  6  ...                                                  1
3                  6  ...                                                  1
4                  2  ...                                                  1

[5 rows x 229 columns]

In [23]:
# Normalizing the all the data.

x = group3_hype.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
group3_hype_norm = pd.DataFrame(x_scaled)
group3_hype_norm.columns = group3_hype.columns

In [24]:
group3_hype_norm.head(5)

   PROGRAM SEMESTERS  ...  APPLICANT CATEGORY NAME_Mature: Domestic 19 or older No Academic History
0                0.2  ...                                                0.0
1                0.6  ...                                                0.0
2                1.0  ...                                                1.0
3                1.0  ...                                                1.0
4                0.2  ...                                                1.0

[5 rows x 229 columns]

In [25]:


y = group3_hype['SUCCESS LEVEL']
X = group3_hype.drop(['SUCCESS LEVEL'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=75)

In [26]:

def get_basic_model():
  
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='sigmoid',input_dim=X_train.shape[1]),
    tf.keras.layers.Dense(5, activation='relu'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model

In [27]:
model = get_basic_model()
BATCH_SIZE = 2

history = model.fit(tf.convert_to_tensor(X_train), tf.convert_to_tensor(y_train), epochs=50)

Epoch 1/50
12/12 [==============================] - 2s 5ms/step - loss: 0.7195 - accuracy: 0.5424
Epoch 2/50
12/12 [==============================] - 0s 4ms/step - loss: 0.6962 - accuracy: 0.5424
Epoch 3/50
12/12 [==============================] - 0s 4ms/step - loss: 0.6847 - accuracy: 0.5424
Epoch 4/50
12/12 [==============================] - 0s 4ms/step - loss: 0.6766 - accuracy: 0.5424
Epoch 5/50
12/12 [==============================] - 0s 5ms/step - loss: 0.6724 - accuracy: 0.5424
Epoch 6/50
12/12 [==============================] - 0s 5ms/step - loss: 0.6667 - accuracy: 0.5424
Epoch 7/50
12/12 [==============================] - 0s 4ms/step - loss: 0.6610 - accuracy: 0.5424
Epoch 8/50
12/12 [==============================] - 0s 4ms/step - loss: 0.6556 - accuracy: 0.5424
Epoch 9/50
12/12 [==============================] - 0s 4ms/step - loss: 0.6477 - accuracy: 0.5424
Epoch 10/50
12/12 [==============================] - 0s 5ms/step - loss: 0.6357 - accuracy: 0.5424
Epoch 11/50
12/12 [==============================] - 0s 4ms/step - loss: 0.6162 - accuracy: 0.5424
Epoch 12/50
12/12 [==============================] - 0s 4ms/step - loss: 0.5999 - accuracy: 0.5424
Epoch 13/50
12/12 [==============================] - 0s 4ms/step - loss: 0.5810 - accuracy: 0.5424
Epoch 14/50
12/12 [==============================] - 0s 5ms/step - loss: 0.5643 - accuracy: 0.5424
Epoch 15/50
12/12 [==============================] - 0s 4ms/step - loss: 0.5543 - accuracy: 0.5424
Epoch 16/50
12/12 [==============================] - 0s 5ms/step - loss: 0.5373 - accuracy: 0.5424
Epoch 17/50
12/12 [==============================] - 0s 4ms/step - loss: 0.5235 - accuracy: 0.5424
Epoch 18/50
12/12 [==============================] - 0s 4ms/step - loss: 0.5117 - accuracy: 0.5424
Epoch 19/50
12/12 [==============================] - 0s 4ms/step - loss: 0.4949 - accuracy: 0.5424
Epoch 20/50
12/12 [==============================] - 0s 4ms/step - loss: 0.4916 - accuracy: 0.5424
Epoch 21/50
12/12 [==============================] - 0s 4ms/step - loss: 0.4792 - accuracy: 0.5424
Epoch 22/50
12/12 [==============================] - 0s 4ms/step - loss: 0.4734 - accuracy: 0.5424
Epoch 23/50
12/12 [==============================] - 0s 4ms/step - loss: 0.4596 - accuracy: 0.5424
Epoch 24/50
12/12 [==============================] - 0s 4ms/step - loss: 0.4474 - accuracy: 0.5424
Epoch 25/50
12/12 [==============================] - 0s 5ms/step - loss: 0.4417 - accuracy: 0.5424
Epoch 26/50
12/12 [==============================] - 0s 4ms/step - loss: 0.4328 - accuracy: 0.5424
Epoch 27/50
12/12 [==============================] - 0s 4ms/step - loss: 0.4156 - accuracy: 0.5424
Epoch 28/50
12/12 [==============================] - 0s 4ms/step - loss: 0.4059 - accuracy: 0.5424
Epoch 29/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3955 - accuracy: 0.5424
Epoch 30/50
12/12 [==============================] - 0s 5ms/step - loss: 0.3914 - accuracy: 0.5424
Epoch 31/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3813 - accuracy: 0.5424
Epoch 32/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3729 - accuracy: 0.5424
Epoch 33/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3670 - accuracy: 0.5424
Epoch 34/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3577 - accuracy: 0.5424
Epoch 35/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3494 - accuracy: 0.5424
Epoch 36/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3432 - accuracy: 0.5424
Epoch 37/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3499 - accuracy: 0.5424
Epoch 38/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3418 - accuracy: 0.5424
Epoch 39/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3241 - accuracy: 0.5424
Epoch 40/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3180 - accuracy: 0.5424
Epoch 41/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3129 - accuracy: 0.5424
Epoch 42/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3077 - accuracy: 0.5424
Epoch 43/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3018 - accuracy: 0.5424
Epoch 44/50
12/12 [==============================] - 0s 4ms/step - loss: 0.3008 - accuracy: 0.5424
Epoch 45/50
12/12 [==============================] - 0s 4ms/step - loss: 0.2937 - accuracy: 0.5424
Epoch 46/50
12/12 [==============================] - 0s 4ms/step - loss: 0.2942 - accuracy: 0.5424
Epoch 47/50
12/12 [==============================] - 0s 6ms/step - loss: 0.2845 - accuracy: 0.5424
Epoch 48/50
12/12 [==============================] - 0s 4ms/step - loss: 0.2794 - accuracy: 0.5424
Epoch 49/50
12/12 [==============================] - 0s 5ms/step - loss: 0.2735 - accuracy: 0.5424
Epoch 50/50
12/12 [==============================] - 0s 4ms/step - loss: 0.2722 - accuracy: 0.5424

In [28]:
# evaluate the keras model

_, accuracy = model.evaluate(X_train, y_train)
print('Accuracy: %.2f' % (accuracy*100))

12/12 [==============================] - 0s 3ms/step - loss: 0.2739 - accuracy: 0.5424
Accuracy: 54.24

In [29]:
# Prediction

y_pred = model.predict(X_test)

score = model.evaluate(X_test, y_test,verbose=1)

print(score)

5/5 [==============================] - 0s 4ms/step - loss: 0.3336 - accuracy: 0.4706
[0.3336408734321594, 0.47058823704719543]

In [30]:
X_test = tf.convert_to_tensor(X_test)
y_test = tf.convert_to_tensor(y_test)

In [31]:
# make probability predictions with the model

predictions = model.predict(X_test)

# round predictions 

rounded = [round(x[0]) for x in predictions]

# make class predictions with the model

predictions = (model.predict(X_test) > 0.5).astype(int)

# summarize the first 5 cases

for i in range(5):
    print('%s => %d (expected %d)' % (X_test[i], predictions[i], y_test[i]))

tf.Tensor(
[  4.   4.   3.   1. 160.   2.   1.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   1.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   1.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.
   0.   1.   0.   0.   1.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   1.   0.], shape=(228,), dtype=float64) => 0 (expected 1)
tf.Tensor(
[  2.   2.   3.   1. 140.   4.   1.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   1.   0.   0.   0.   0.   0.   0.   0.   1.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.
   0.   1.   0.   0.   0.   0.   0.   0.   0.   1.   0.   0.   0.   0.
   0.   0.   0.   1.], shape=(228,), dtype=float64) => 0 (expected 0)
tf.Tensor(
[  4.   4.   1.   0. 160.   2.   0.   0.   0.   1.   0.   0.   0.   0.
   1.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   1.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.
   0.   1.   0.   0.   0.   0.   0.   0.   0.   1.   0.   0.   0.   0.
   1.   0.   0.   0.], shape=(228,), dtype=float64) => 0 (expected 0)
tf.Tensor(
[  4.   4.   2.   1. 160.   3.   1.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   1.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.
   0.   1.   0.   0.   0.   0.   0.   1.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   1.], shape=(228,), dtype=float64) => 0 (expected 1)
tf.Tensor(
[  4.   4.   0.   0. 160.   2.   1.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   1.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   1.   0.
   0.   1.   0.   0.   0.   0.   0.   0.   1.   0.   0.   0.   0.   0.
   1.   0.   0.   0.], shape=(228,), dtype=float64) => 0 (expected 0)

In [32]:
import pickle

filename = 'Group3_HYPE.sav'
pickle.dump(model, open(filename, 'wb'))
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.evaluate(X_test,y_test)

INFO:tensorflow:Assets written to: ram://d9f3ac9d-7103-4e1c-8f60-9a763803b612/assets
5/5 [==============================] - 0s 4ms/step - loss: 0.3336 - accuracy: 0.4706